<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>423932060914-4a5mdo1c0lfhl37f52otdmv9ojus07qt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423932060914-4a5mdo1c0lfhl37f52otdmv9ojus07qt</string>
	<key>API_KEY</key>
	<string>AIzaSyCDWATd_XMtkG1Dp96dUNDQfcWZAhfpqD4</string>
	<key>GCM_SENDER_ID</key>
	<string>423932060914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.seniorprogramming.Social-media</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-80a36</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-80a36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:423932060914:ios:0cea2e5a7bebac76</string>
	<key>DATABASE_URL</key>
	<string>https://socialmediaapp-80a36.firebaseio.com</string>
</dict>
</plist>